body
{
	background-image: url('../images/sheet.png');
	margin:0;
	font-family: "Open Sans", helvetica, arial;
}
#background
{
background-image: url('../images/backgroundoverly.jpg');
background-size: 100% 281px;
background-repeat:no-repeat;
background-position:center top;
height:1200px;
width:761px;
margin:0 auto;
}
	#background h1
	{
	margin:0 29px 0;
	color:white;
	}

/*#wrapper
{
	background-image:url("images/greenwave3.png");
	border-radius:25px;
	box-shadow:10px 10px 5px #888888;
	border-style:groove;
	border-width:6px;
	border-color:#98bf21;
	max-width:1300px;
	height:1000px;
	margin:0 auto;
	margin-top:100px;
	padding-right: 10px;
}*/
.side
{
	width:240px;
	float:left;
	margin-top:10px;
}
	#sidepg1
	{
		height:980px;
	}
		#sidepg2
		{
			height:992px; 
		}
			#topside
			{
				width: 220px;
				height:200px;
				padding: 5px;
			}
				#smallside
				{
					background-color: #f7f7f7;
					box-shadow: 5px 5px 5px #888888;
					border: 1px solid #cec596;
					border-radius: 5px;
					margin: 5px 0 16px;
					padding: 5px;
					width: 220px;
					height:325px;
				}
					#smallside div{
						width:auto;
						height:313px;
						background-image:url("../images/chem.jpg");
						background-size: 90% 40%;
						background-repeat:no-repeat;
						background-position:10px 40px;
						padding: 5px 14px;
					}
						#sideheader
						{
							color: #334559;
							font-weight:bold;
							font-size: 13px;
							line-height: 24px;
							margin: 5px 0 0;
						}
							#sidepara
							{
								color: #334559;
								font-size: 13px;
								line-height: 24px;
								margin: 140px 0 0;
							}
								.side div
								{
									background-color: #fff;
									border: 0;
									border-radius: 0;
									margin: 0;
									padding: 5px 14px 39px;
									width: auto;
								}
									#largeside
									{
										background-color: #f7f7f7;
										box-shadow: 5px 5px 5px #888888;
										border: 1px solid #cec596;
										border-radius: 5px;
										margin: 0 0 15px;
										padding: 5px;
										width: 220px;
										height:360px;
									}
										#largeside div
										{
											width:auto;
											height:348px;
											padding: 5px 14px;
										}
											.btn
											{
												list-style:none;
												margin:20px 20px 16px 0;
											}
												.btn a
												{
													background-image:url("../images/button.png");
													background-repeat:repeat-x;
													width:180px;
													height:36px;
													border-color: #3DB746;
													border-radius: 5px;
													border-style: none solid;
													border-width: 1px;
													color: #fff;
													display: block;
													font-size: 14px;
													text-align: center;
													text-decoration: none;
													line-height: 35px;
												}
													.slop
													{
														margin-top:20px;
														margin-left:20px;
													}
														#largeside2
														{
															background-color: #f7f7f7;
															box-shadow: 5px 5px 5px #888888;
															border: 1px solid #cec596;
															border-radius: 5px;
															margin: 0 0 15px;
															padding: 5px;
															width: 220px;
															height:725px;
														}
															#largeside2 div
															{
																width:auto;
																height:713px;
																padding: 5px 14px;
															}
.main
{
	border: 1px solid #cec596;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #888888;
}
	#homemain
	{	
		background-color: #f7f7f7;
		float:left;
		width:490px;
		height:560px;
		margin-top:5px;
		padding:5px;
	}	
		#centermain
		{
			width:480px;
			height:550px;
			padding:5px;
			background-color:white;
		}
			#searchmain
			{	
				background-color: #f7f7f7;
				float:left;
				width:500px;
				height:725px;
				margin-top:253px;
				padding:5px;
			}	
				#centersearch
				{
					width:490px;
					height:713px;
					padding:5px;
					background-color:white;
				}
.searchresult
{
	width:480px;
	height:125px;
	padding:5px;
	background-color:rgba(75, 73, 73, 0.1);
}
	#service1
	{
		margin: 0 0 10px;
		background-image:url("../images/chem.jpg");
		background-size: 35% 91%;
		background-repeat:no-repeat;
		background-position:5px 5px;
	}
		#service2
		{
			margin: 0 0 10px;
			background-image:url("../images/chem.jpg");
			background-size: 35% 91%;
			background-repeat:no-repeat;
			background-position:5px 5px;
			
		}
			.pagelink
			{
				position:relative;
				top:5px;
				left:190px;
				color: #334559;
				font-weight:bold;
				font-size: 15px;
				
			}
				.details
				{
					position:relative;
					top:2px;
					left:190px;
					color: #334559;
					font-weight:bold;
					font-size: 13px;
					line-height: 10px;
				}
					#service3
					{
						margin: 0 0 10px;
						background-image:url("../images/chem.jpg");
						background-size: 35% 91%;
						background-repeat:no-repeat;
						background-position:5px 5px;
					}
						#service4
						{
							margin: 0 0 10px;
							background-image:url("../images/chem.jpg");
							background-size: 35% 91%;
							background-repeat:no-repeat;
							background-position:5px 5px;
						}
							#service5
							{
								margin: 0 0 10px;
								background-image:url("../images/chem.jpg");
								background-size: 35% 91%;
								background-repeat:no-repeat;
								background-position:5px 5px;
							}
								#service6
								{
									margin: 0 0 10px;
									background-image:url("../images/chem.jpg");
									background-size: 35% 91%;
									background-repeat:no-repeat;
									background-position:5px 5px;
								}
		
#searchstylemain
{
	float:left;
	padding:10px;
}
	#searchstyle{
		float:left;
		margin-left:-10px;
		padding:10px;
	}
		#searchstyle2
		{
			float:left;	
			margin-top:5px;
			margin-right:30px;
			padding:10px;
		}
			.textinput
			{
				margin: 0;
				padding: 5px 12px;
				font-family: Arial, Helvetica, sans-serif;
				font-size:10px;
				color:#666;
				border:1px solid #0076a3; border-right:0px;
				border-top-left-radius: 5px 5px;
				border-bottom-left-radius: 5px 5px;
			}
				.searchbutton 
				{
					margin: 0;
					padding: 5px 7px;
					font-family: Arial, Helvetica, sans-serif;
					font-size:10px;
					font-weight:bold;
					outline: none;
					cursor: pointer;
					text-align: center;
					text-decoration: none;
					color: #ffffff;
					border: solid 1px #0076a3; border-right:0px;
					background: #0095cd;
					background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
					background: -moz-linear-gradient(top,  #00adee,  #0078a5);
					border-top-right-radius: 5px 5px;
					border-bottom-right-radius: 5px 5px;
				}
					.searchbutton:hover 
					{
						text-decoration: none;
						cursor:pointer;
						background: #007ead;
						background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
						background: -moz-linear-gradient(top,  #0095cc,  #00678e);
					}
						.searchbutton::-moz-focus-inner 
						{
						border: 0;
						}

#bottom
{
	float:left;
	height:150px;
	width:741px;
	background-color:#3E3E3E;
	padding:5px;
}
	#bottom div
	{
		float:left;
		height:140px;
		width:731px;
		background-color:#1D1F21;
		padding:5px;
	}
	
#container{
	width:500px;
	height:320px;
	border: 1px solid #cec596;
	background-color:#f7f7f7;
	box-shadow: 5px 5px 5px #888888;
	float:right;
	margin-right:7px;
	margin-top:20px;
	padding-bottom:80px;
}

#banner-slide{
	
	margin-bottom: 60px;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
	
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}
